@use "../../app.scss" as *;


div#login {
    background-color: $colorBlack000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;

    
    img{
        position: absolute;
        width: 300px;
        height: 150px;
        top: 20px;
        left: 50px;
    
        @media screen and (max-width: 1024px){
            width: 200px;
            height: auto;
        }
    }

    form{
        border: 2px solid $amarelo;
        border-radius:1rem;

        button{
            background-color: $amarelo;
            opacity: 0.5;
            transition: 250ms;

            &:hover{
                opacity: 0.9;
            }
        }
    }
}