@use "../../app.scss" as *;
$colorWhite: #ffffff;

nav {
    background-color: #232222;
    width: 200px;
    display: flex;
    color: $colorWhite;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-size: 18px;

    figure.figure {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        img {
            width: 100px;
            height: auto;
            margin: 0;
            padding: 0;
        }
        
    }

    ul {
        li {
            width: 150px;
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
            border-radius: 8px;
            transition: 250ms;
    
            &:hover {
                scale: 1.1;
            }

            &:last-of-type{
                cursor: pointer;
            }
        }
    }

   

    .link-router-dom {
        text-decoration: none;
        color: white;

    }

    
   
    
    .styleLi {
        background-color: $amarelo;
        width: 150px;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        border-radius: 8px;
        pointer-events: none;
    }

}

