@use "../../app.scss" as *;

.section-destinoUser {
    border: 1px solid $amarelo;
    display: flex;
    color: $colorWhite;
    justify-content: space-around;
    border-radius: 10px;
    width: 100%;

    div {
        margin-top: 1rem;
        margin-bottom: 1rem;

        input {
            background-color: $colorBlack000;
            color: $colorWhite;
            outline: none;
            border: none;
            margin-right: 1rem;
        }
    }
}
.img-origem-user{
    width: 40px;
    height: auto;
}

.img-destino-user{
    width: 30px;
    height: auto;
    margin-left: 0.5rem;
}

.date-destino-user{
    width: 25px;
    height: auto;
    margin-left: 0.5rem;
    margin-right: 1rem;
    cursor: pointer;
}

.container-input-dest {
    border: 1px solid $amarelo;
    border-radius: 4px;
    padding: 4px;
    color: $colorWhite;
}

.data-display {
    color: white;
    font-size: 16px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.buscar-viagem{
    background-color: $amarelo;
    border: 1px solid $amarelo;
    height: 50%;
    border-radius: 8px;
    padding: 6px;
    span{
        color: #000;
        font-weight: 700;
    }
    opacity: 0.75;
    transition: 250ms;

    &:hover{
        opacity: 1;
    }
}