@use '../../../app.scss' as *;
.container-selecao-assentos {
    text-align: center;
    .onibus-container {
        
        .onibus-imagem {
            width: 1024px;
            height: auto;
            transform: scaleX(-1);
        }

        .assentos-container{
            position: relative;
            left: 90px;
            top: 62px;
            gap: 80px;
            margin-bottom: 3rem;
            .assento-imagem {
                transform: scaleX(-1);
                margin-inline-end:3px ;
                width: 40px;
                height: 40px;
                cursor: pointer;
                opacity: 0.9;
                border: 1px solid transparent;
                transition: 250ms;
                
                &.indisponivel {
                    cursor: not-allowed;
                }
                &:hover{
                    opacity: 1;
                    border-color: #000;

                }
            }
        }

    }
    .buscar-viagem{
        

    }

    .container-tipo-assento{
        display: flex;
        flex-direction: row;
    }
    
    .container-img-tipo{

        gap: 20px;
    }
    
    .button-comprar{
        background-color: $amarelo;
        outline: none;
        font-weight: 700;
        color: $colorWhite;
        border-radius: 8px;
    }
    
}



