* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Sen;
}

$amarelo: #FFB803;
$colorBlack: #4F4F4F;
$fontTamanho: 1.2rem;

body{
    background-color: #000;
}

.container-main {
    background-color: #000;
}